@@GLOBAL_OPTIONS@@@@SITE_ADDRESS@@ {
  encode gzip zstd
@@TLS_BLOCK@@
@@AUTH_BLOCK@@
@@STATE_PROXY_BLOCK@@
@@MUTATION_BLOCK@@

  @v4_api path /v4/*
  reverse_proxy @v4_api 127.0.0.1:8766

  reverse_proxy 127.0.0.1:8007
}
