@@GLOBAL_OPTIONS@@@@SITE_ADDRESS@@ {
  encode gzip zstd
@@TLS_BLOCK@@
@@AUTH_BLOCK@@
@@STATE_PROXY_BLOCK@@
@@DATABASE_PROXY_BLOCK@@
@@MUTATION_BLOCK@@

  @market_data path /v7/market-data/*
  reverse_proxy @market_data 127.0.0.1:8766

  reverse_proxy 127.0.0.1:8007
}
